<footer class="bg-near-white mid-gray relative z-5">
	<div class="ph4-ns ph3 pv5">
		<div class="mw8 center flex flex-wrap f5">
			<div class="w-20-l w-100 flex items-start justify-start mb0-l mb4">
				<a href="/" title="Home" class="f4 fw7 black mb0-l mb3">
                   
                </a>
			</div>
			
			<div class="w-20-l w-50">
				<h4 class="f6 fw5 mt0 mb2 ttu">Social</h4>
				<ul class="list ma0 pa0 flex flex-column items-start">
					<li class="mv2"><a href="https://mastodon.nycmesh.net/@org99" class="link mid-gray">Mastodon</a></li>	<li class="mv2"><a href="https://mastodon.nycmesh.net/@org99" class="link mid-gray">TikTok</a></li>			
					<li class="mv2"><a href="https://www.facebook.com/org99" class="link mid-gray">Facebook</a></li>
					<li class="mv2"><a href="https://www.instagram.com/org99" class="link mid-gray">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
